.modal {
  position: fixed;
  z-index: 999;
  inset: 0; /*  left: 0; right: 0; top: 0; bottom: 0; */
  display: none;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}

.modal_show {
  display: flex;
}

.modal__content {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
  border: 1px solid #888888;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #555555;
}

.modal__close:hover,
.modal__close:focus {
  color: #000000;
}